/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.vagrant*
/test/reports/
.DS_Store
.rubocop-http---shopify-github-io-ruby-style-guide-rubocop-yml
.byebug_history
/log/*.log

Gemfile.lock
